build
6502 Emulator.xcodeproj/project.xcworkspace
6502 Emulator.xcodeproj/xcuserdata/gabb.xcuserdatad/xcschemes
6502 Emulator.xcodeproj/xcshareddata/xcschemes
6502 Emulator.xcodeproj/xcuserdata/gabb.xcuserdatad/xcdebugger
